.form-pintar {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-pintar h2 {
    margin-bottom: 10px;
  }
  
  .form-pintar p {
    margin: 5px 0;
  }