.form-captura {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-captura label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-captura input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-captura button {
    background-color: #006DFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-captura button:hover {
    background-color: #006DFF;
  }